Christian Emilio Saldana Lopez - A00506509

Module 4 - Working with Data in Python

Reading files

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
file1 = "/content/drive/MyDrive/Education & Certfications/02 ITESM Maestria MNA/Periodo 2/TC4029 - Ciencia y Analítica de Datos/example1.txt"
reader1 = open(file1, "r")

In [3]:
reader1.name

'/content/drive/MyDrive/Education & Certfications/02 ITESM Maestria MNA/Periodo 2/TC4029 - Ciencia y Analítica de Datos/example1.txt'

In [4]:
reader1.mode

'r'

In [5]:
print(reader1.read())

This is line 1
This is line 2
This is line 3

In [6]:
reader1.close()

In [11]:
file2 = "/content/sample_data/README.md"

with open(file2, "r") as reader1: 
  i = 0;
  for line in reader1:
    print("iteration ", i , ":" , line)
    i += 1

iteration  0 : This directory includes a few sample datasets to get you started.

iteration  1 :

iteration  2 : *   `california_housing_data*.csv` is California housing data from the 1990 US

iteration  3 :     Census; more information is available at:

iteration  4 :     https://developers.google.com/machine-learning/crash-course/california-housing-data-description

iteration  5 :

iteration  6 : *   `mnist_*.csv` is a small sample of the

iteration  7 :     [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is

iteration  8 :     described at: http://yann.lecun.com/exdb/mnist/

iteration  9 :

iteration  10 : *   `anscombe.json` contains a copy of

iteration  11 :     [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it

iteration  12 :     was originally described in

iteration  13 :

iteration  14 :     Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American

iteration  15 :     Statistician. 27 (1): 17-21. JSTOR 2682899.

iteration  16 :

iteration  17 :     and our copy was prepared by the

iteration  18 :     [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

Writing files

In [12]:
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [15]:
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [14]:
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [16]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [17]:
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [18]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [19]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [21]:
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [22]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E
This is line C
This is line D
This is line E

In [23]:
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [24]:
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E
This is line C
This is line D
This is line E

Pandas

In [26]:
import pandas as pd
df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [28]:
import pandas as pd
house = "/content/sample_data/california_housing_test.csv"
df = pd.read_csv(house)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [29]:
ages = df[['housing_median_age']]
ages

      housing_median_age
0                   27.0
1                   43.0
2                   27.0
3                   28.0
4                   19.0
...                  ...
2995                23.0
2996                27.0
2997                10.0
2998                40.0
2999                42.0

[3000 rows x 1 columns]

In [30]:
type(ages)

pandas.core.frame.DataFrame

In [35]:
total_rooms = df[['total_bedrooms', 'total_rooms']]
total_rooms

      total_bedrooms  total_rooms
0              661.0       3885.0
1              310.0       1510.0
2              507.0       3589.0
3               15.0         67.0
4              244.0       1241.0
...              ...          ...
2995           642.0       1450.0
2996          1082.0       5257.0
2997           201.0        956.0
2998            14.0         96.0
2999           263.0       1765.0

[3000 rows x 2 columns]

In [37]:
total_rooms.iloc[0]

total_bedrooms     661.0
total_rooms       3885.0
Name: 0, dtype: float64

In [38]:
total_rooms.iloc[0][['total_rooms']]

total_rooms    3885.0
Name: 0, dtype: float64